$bgColor: rgb(37, 29, 67);

.chats-list {
	width: 30%;
	height: 100%;
	overflow: auto;
	background-color: $bgColor;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;

	.list__no-chats-warning {
		padding: 10px;
		text-align: center;
		user-select: none;
	}
}