$bgColor: rgb(37, 29, 67);

.chats-list {
	width: 100%;
	flex: 1;
	overflow: auto;
	background-color: $bgColor;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;

	.list {
		&__no-chats-warning {
			padding: 10px;
			text-align: center;
			user-select: none;
		}
	}
}