$activeBgColor: rgb(31, 26, 62);
$hoverBgColor: lighten($activeBgColor, 5%);

.chat-preview {
	width: 100%;
	height: 90px;
	padding: 20px;
	cursor: pointer;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	text-decoration: none;

	$preview: &;

	&_active {
		background-color: $activeBgColor;
	}
	&:hover:not(#{$preview}_active) {
		background-color: $hoverBgColor;
	}

	&__icon {
		margin-right: 15px;
	}
}